{% extends 'forms/user_page_base.html' %} {% block body_block %}
<div class="jumbotron">
    <h1>PLEASE LOGIN!</h1>
    <form method='post' action='{% url "forms:user_login" %}'>
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name='username' placeholder="Enter username">

        <label for="password">Password:</label>
        <input type="password" name='password'>

        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}